<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel= "tests">
	<listeners>
		<listener class-name="anmolTiwary.EndToEnd_project.Listeners"/>
	</listeners>
	
  <test name="login test">
    <classes>
      <class name="anmolTiwary.EndToEnd_project.HomePage"/>
</classes>
</test>

      <test name="Navigation validation">
      	<classes>
      		<class name="anmolTiwary.EndToEnd_project.vlidateNavigation"/>
      	</classes>
      </test>
      <test name= "title validation">
<classes>
      	<class name="anmolTiwary.EndToEnd_project.ValidateTitle"/>
    </classes>
    
    
  </test> <!-- Test -->
</suite> <!-- Suite -->
